
{% extends 'base.html' %}

{% block content %}



                <h1>Rates Actuales</h1>

                        {% if rates == []: %}
                        <p>No hay Rates.</p>
                        {% endif %}

                        <table border="1">
                            <thead>
                                <tr>
                                    {% for col in colnames %}
                                    <th>{{ col }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in records %}
                                <tr>
                                    {% for col in colnames %}
                                    <td>{{ record[col] }}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>



{% endblock %}